*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: blueviolet;
}

.contenitore_logo{
    height: 80px;
    background-color: white;
}

.contenitore_logo img{
    height: 100%;
    vertical-align: middle;
    padding: 10px;
}

.contenitore_logo .nome_logo{
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}

main{
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

/* stilizzazione bottoni e barra*/
.barra_button{
    height: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    line-height: 100px;
}

button{
    border-radius: 6px;
    height: 50px;
    width: 150px;
    vertical-align: middle;
}

.button_1{
    background-color: rgb(14, 135, 248);
    color: white;
    border-color: rgb(14, 135, 248);
    margin-left: 60px;
}

.button_2{
    background-color: white;
    color: gray;
    border-color: grey;
}
/* fine stilizzazione bottoni e barra*/

.barra_testo{
    height: 600px;
    background-color: white;
    margin-top: 5px;
}

.barra_testo div{
    margin-left: 60px;
}

.check_titolo, .check_titolo:before{
    font-weight: bold;
    font-size: 25px;
    content: '\25BC';
}

.check_verde:before{
    display: inline-block;
    content: '\2713';
    color: rgb(63, 241, 63);
    width: 20px;
    height: 20px;
    border: 1px solid rgb(63, 241, 63);
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.check_rosso:before{
    display: inline-block;
    content: '\2717';
    color: red;
    width: 20px;
    height: 20px;
    border: 1px solid red; ;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.check_rosso, .check_verde{
    padding: 5px;
}

.editorial, .goals, .recruting, .mobile, .website, .sales{
    border-radius: 15px;
    font-size: 12px;
    padding: 9px;
}

.editorial{
    background-color: rgb(14, 135, 248);
    color: white;
    border-color: rgb(14, 135, 248);

}

.goals{
    background-color: violet;
    color: white;
    border-color: violet;
}

.recruting{
    background-color: green;
    color: white;
    border-color: green;
}

.mobile{
    background-color: orange;
    color: white;
    border-color: orange;
}

.website{
    background-color: rgb(238, 123, 142);
    color: white;
    border-color: rgb(238, 123, 142);
}

.sales{
    background-color: greenyellow;
    color: white;
    border-color: greenyellow;
}